// app global css in SCSS form// app global css in SCSS form
@font-face {
    font-family: "exo";
    src: url("./fonts/exo/Exo-Regular.ttf");
}

@font-face {
    font-family: "exo-thin";
    src: url("./fonts/exo/Exo-Thin.ttf");
}

@font-face {
    font-family: "exo-medium";
    src: url("./fonts/exo/Exo-Medium.ttf");
}

// @font-face{
//     font-family: 'monofont', monospace;
//     src:url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
// }

.ds{border:1px solid red;}
.bg-none{ background:none!important;}

.bg-darktransl0{ background: rgba(#22252A, 0.8)!important; }

.bg-ubuntu{ background:linear-gradient(45deg, #dd4814, #77216f, #5e2750, #2c001e, #333333); }


.bg-darkgradient{
    background: -moz-linear-gradient(top, #2d3035 0%, #22252a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2d3035 0%,#22252a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2d3035 0%,#22252a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3035', endColorstr='#22252a',GradientType=0 );
}

.bg-redgradient{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-none{ background:none!important;}
.bg-darkl0{ background: #22252A; }
.bg-darkl1{ background: #2D3035; }
.bg-darkl2{ background: #3E4148; }

.bg-gold{ 
    background: linear-gradient(to right, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 );
}

.bg-darkl3{ background: #8A8D93; }

.text-darkl3{ color: #8A8D93; }
.text-owngrey{ color: #8A8D93; }
.text-darkl0{ color: #22252A; }

.exo{ font-family: 'exo'; }
.exo-thin{ font-family: 'exo-thin'; }
.exo-med{ font-family: 'exo-medium'; }

.text--1{ font-size:.9em!important; }
.text--2{ font-size:.8em!important; }
.text--3{ font-size:.7em!important; }
.text-sz-lg{ font-size:1.5em; }

.otherdark{background-color: #171717;}
.otherdark2{background-color: #0a0a0a;}

// VARIABLES PARA ESTANDARIZACION DE COLORES

$st-1 : #18dcff!important;// levantando pedido LP
$st-2 : #b71540!important;// asignando caja AC
$st-3 : #cd6133!important;// En Recepcion ER
$st-4 : #fff200!important;// Por surtir PS
$st-5 : #20bf6b!important;// Surtiendo SR
$st-6 : #fdcb6e!important;// Por validar PV
$st-7 : #cc8e35!important;// Validando Mercancia VM
$st-8 : #0fb9b1!important;// En Caja EC
$st-9 : #20bf6b!important;// Cobrando CO
$st-10 :#cc8e35!important;// Finalizado FZ
$st-100 : #a5b1c2!important;// Cancelado CN

// ESTILOS PARA PREVENTA

.st-1{ color: $st-1; }// levantando pedido LP
.st-2{ color: $st-2; }// asignando caja AC
.st-3{ color: $st-3; }// En Recepcion ER
.st-4{ color: $st-4; }// Por surtir PS
.st-5{ color: $st-5; }// Surtiendo SR
.st-6{ color: $st-6; }// Por validar PV
.st-7{ color: $st-7; }// Validando Mercancia VM
.st-8{ color: $st-8; }// En Caja EC
.st-9{ color: $st-9; }// Cobrando CO
.st-10{ color: $st-10; }// Finalizado FZ
.st-100{ color: $st-100; }// Cancelado CN

// ESTILOS PARA RESURTIDOS

.cardDesign-1 { border-left: 10px solid $st-1; }
.cardDesign-2 { border-left: 10px solid $st-2; }
.cardDesign-3 { border-left: 10px solid $st-3; }
.cardDesign-4 { border-left: 10px solid $st-4; }
.cardDesign-5 { border-left: 10px solid $st-5; }
.cardDesign-6 { border-left: 10px solid $st-6; }
.cardDesign-7 { border-left: 10px solid $st-7; }
.cardDesign-8 { border-left: 10px solid $st-8; }
.cardDesign-9 { border-left: 10px solid $st-9; }
.cardDesign-10 { border-left: 10px solid $st-10; }
.cardDesign-100 { border-left: 10px solid $st-100; }